meta.foundation-version {
  font-family: "/5.5.2/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 767px)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "only screen and (min-width: 768px)";
  width: 768px; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width: 768px) and (max-width: 991px)/";
  width: 768px; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width: 992px)/";
  width: 992px; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width: 992px) and (max-width: 1199px)/";
  width: 992px; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width: 1200px)/";
  width: 1200px; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width: 1200px)/";
  width: 1200px; }

meta.foundation-data-attribute-namespace {
  font-family: false; }